<div class="container">
  <h1>Edit your listing</h1>

  <%= simple_form_for [@space] do |f| %>
    <%= f.input :name, hint: 'Go on, sell it to us...' %>
    <%= f.input :address %>
    <%= f.input :description, hint: 'Include everything that makes your space stand out!' %>
    <%= f.input :price_per_day, label: 'Price per day (in £)' %>
    <% if @space.photos.attached? %>
      <% @space.photos.each do |ph| %>
        <%= f.hidden_field :photos, value: ph.signed_id %>
      <% end %>
    <% end %>
    <%= f.button :submit, 'Confirm update', class: 'btn-outline-dark' %>
  <% end %>

</div>
