<%# <h1>All spaces</h1> %>
<%# <p>Find a space perfect for you</p> %>



<%# <% @spaces.each do |space| %>
  <%# <%= space.name %>
  <%# <% if space.photos.attached? %>
  <%# <%= cl_image_tag space.photos.first.key, height: 300, width: 400, crop: :fill %>
  <%# <% end %>
<%# <% end %>
<div class="space-index-container">

<div class="index-cards">

  <div class="spaces-index">
    <% @spaces.each do |space|%>
      <%= link_to space_path(space) do %>
      <div class="space-card">
        <div class="space-card-image">
          <%= cl_image_tag space.photos.first.key %>
        </div>
        <div class="space-card-infos">
          <div>
            <h2><%= space.name %></h2>
          </div>
          <div>
            <h2 class="space-card-pricing">£<%= space.price_per_day.to_i %></h2>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>


</div>

<div class="map-container"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>


</div>
