<div class="container pb-5">

  <h1 id="list_title">List your space</h1>
  <div id="list_form">
  <%= simple_form_for [@user, @space] do |f| %>
    <%= f.input :name, hint: 'Go on, sell it to us...', input_html: { class: "form-horizontal"} %>
    <%= f.input :address,
      input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
      wrapper_html: {data: {controller: "address-autocomplete",
      address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
    <%= f.input :description, hint: 'Include everything that makes your space stand out!', input_html: { class: "form-horizontal"} %>
    <%= f.input :price_per_day, label: 'Price per day (in £)', input_html: { class: "form-horizontal"} %>
    <%= f.input :photos, as: :file, input_html: { multiple: true, class: "form-horizontal" } %>
    <div class="center-submit">
      <%= f.button :submit, class: 'btn-outline-light' %>
    </div>
  <% end %>
  </div>
</div>
