<div class="container">

  <div class="row">

    <div id="carouselExampleIndicators" class="carousel slide mb-3 rounded col-9" data-bs-ride="true">

    <div class="carousel-inner">
      <% @space.photos.each_with_index do |photo, i| %>

        <div class="carousel-item <%= "active" if i==0 %>">
          <%= cl_image_tag photo.key, class: "d-block w-100 h-80" %>
        </div>
        <% end %>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>

    <div class="booking-box col-3 p-3">
      <h4>Book this space:</h4>
      <div class="booking-form border p-2">
        <%= form_with url: "/", method: :get do |form| %>
        <%= form.label :message, "Message:", placeholder: "This is a dummy form for now" %>
        <%= form.text_field :message, class: "mb-2 p-3" %>
        <%= form.label :arrival, "Arrival date" %>
        <%= form.date_field :arrival, class: "mb-2" %>
        <%= form.label :departure, "Departure date" %>
        <%= form.date_field :departure, class: "mb-3" %>
        <%= form.submit "Request to book" %>
        <% end %>
      </div>
    </div>

  </div>

  <h2><%= @space.name %></h2>

  <%= link_to "Edit this space", edit_space_path(@space), class: "btn btn-outline-dark" %>

  <div class="description pb-4">
    <p><%= @space.description %> </p>
  </div>

  <p><strong>Price per day:</strong> £<%=@space.price_per_day.to_i%></p>


  <%# <%= link_to "Delete this space", user_path(@user), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-dark" %>

</div>
