<div class="container pb-5">
    <div class="title">
      <h1>Hello, <%= @user.first_name %></h1>
    </div>
    <div class="spaces_title">
    <h4>Your spaces</h4>
    <div>
      <div class="btn btn-ghost-list">
        <%= link_to "List a new space", new_user_space_path(@user) %>
      </div>
      <div class="btn btn-ghost-edit">
        <%= link_to "Edit profile", edit_user_registration_path %>
      </div>
    </div>
  </div>
  <div class="spaces-index">
    <% @spaces.each do |space|%>
      <%= link_to space_path(space) do %>
      <div class="space-card">
        <div class="space-card-image">
          <%= cl_image_tag space.photos.first.key %>
        </div>
        <div class="space-card-infos">
          <div>
            <h2><%= space.name %></h2>
          </div>
          <div>
            <h2 class="space-card-pricing">£<%= space.price_per_day.to_i %></h2>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="spaces_title">
    <h4>Your bookings</h4>

  </div>

  <div class="user-bookings mb-5">

        <% @user_bookings.each do |booking| %>
          <%= link_to space_path(booking.space), class: "text-decoration-none text-dark" do %>
            <div class="booking position-relative">

             <div>
                <%= link_to icon('fa-solid', 'xmark'),
                user_path(@user),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this booking?"},
                class: "btn btn-outline-dark py-1 px-2 m-1 position-absolute top-0 end-0"
                %>
              </div>

              <div class="d-flex justify-content-between align-items-center px-4 py-3">
                <div class="booking-text">
                  <p><strong>Space:</strong> <%=booking.space.name%></p>
                  <p><strong>Your message:</strong> <%= booking.message %></p>
                  <p><strong>Booking start:</strong> <%= booking.booking_start %></p>
                  <p><strong>Booking end:</strong> <%= booking.booking_end %></p>
                  <br>
                  <p><strong>Contact:</strong> <%=booking.space.user.email%></p>
                </div>
                <div class="booking-image me-2">
                  <%= cl_image_tag booking.space.photos.first.key %>
                </div>
              </div>

            </div>
          <% end %>
        <% end %>

  </div>



</div>
