<div class="banner">

    <div class="welcome">
      <h1>Welcome to Spacebook</h1>
      <h3>Find and hire the perfect spaces for your events and <br> for the most memorable nights</h3>
      <div class="welcome-button">
        <a class="btn btn-ghost-list" href="new_user_space_path(current_user)">List a space</a>
        <a class="btn btn-ghost-find" href="spaces_path">Find a space</a>
      </div>
    </div>

    <div class="container-car">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= cl_image_tag('eventhall1_tfqmhj.jpg', class:"d-block w-100", height: 620, crop: :fill) %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag('eventhall2_djkptx.jpg', class:"d-block w-100", style: 'height:620px; object-fit:cover') %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag('eventhall3_o8rjj0.jpg', class:"d-block w-100", style: 'height:620px; object-fit:cover') %>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
</div>


<div class="web-description">
  <h2>Go all out</h2>
  <b>Whether you're entertaining an intimate audience or heady crowd, the location is always key. Create an experience to remember in one of these unique event spaces.</b>
</div>


<div id="feature-title"><h1>This week's featured spaces!</h1></div>

<div class="container-fluid">
    <div class="spaces-index featured-index">
    <% @featured = @spaces.first(6) %>
    <% @featured.each do |space|%>
      <%= link_to space_path(space) do %>
      <div class="space-card">
        <div class="space-card-image">
          <%= cl_image_tag space.photos.first.key %>
        </div>
        <div class="space-card-infos">
          <div>
            <h2><%= space.name %></h2>
          </div>
          <div>
            <h2 class="space-card-pricing">£<%= space.price_per_day.to_i %></h2>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
